body {
  margin: 0;
  padding: 0;
}

/* TopMenu */
#TopMenuContainer
{
  height: 50px;
}

#TopMenu {
  border-bottom: 1px solid #00AEEF;
  height: 50px;
  background-color: #fff;
}

#TopMenu .CountryFlag {
  height: 20px;
  padding-right: 8px;
}

#TopMenu #rightSide button {
  background: transparent;
  border: 0;
  padding: 0;
}
#TopMenu .App-logo{
  height: 48px;
}

/* Layout */
.sidebar {
  background-color: #00AEEF;
  padding: 0 !important;
}

/* Sidebar */
.sidebar-inner {
  position: fixed;
  margin-top: 10px;
}

.sidebar-inner ul {
  margin: 0;
  padding: 0;
}

/* Pages */
#Mainbody {
  min-height: calc(100vh - 50px);
  margin: 0 -12px;
  padding: 12px;
  z-index: 2000;
  background-color: lightgray;
}
/* Mobile */
.mobile-outer, .mobile-inner{
  height: 100%;
  margin: 12px 0;
  /* display: none; */
}

@media (max-width: 991px) { 
  body{
    background-color: #00AEEF !important;
  }
  #Mainbody {
    min-height: calc(100vh - 50px);
    margin: 0 -12px;
    /* display: none; */
  }
  .fun{
    display: none;
  }
 }

 .scrollable {
  height: calc(100vh - 50px);
  padding: 0 10px 20px 10px;
  overflow: auto;
}